.blog-card {
  max-width: 300px;

  &__image {
    width: 100%;
    height: 300px;
    margin: 0px 0 9px 0px;
  }

  &__img {}

  &__info {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
  }

  &__date {
    font-feature-settings: 'pnum'on, 'lnum'on;
    margin: 0px 20px 0px 0px;
  }

  &__category-list {
    display: flex;
  }

  &__category-item {
    padding: 5px 13px;
    margin: 0px 10px 0px 0px;
    background-color: rgba(218, 33, 40, 0.1);
    border-radius: 4px;
  }

  &__category-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 137.4%;
    text-transform: uppercase;
    color: #DA2128;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 147.4%;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    margin: 0px 0px 15px 0px;
  }

  &__link {}
}
