.bedroom {
  padding: 30px 0px 0px 0px;

  .catalog__category {
    margin: 0 0 50px;
  }

  .category__list {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .category__item {
    width: 190px;
  }
}

.bedroom-idea__inner {
  padding: 0px 0px 50px 0px;
  margin: 0px 0px 50px 0px;
  border-bottom: 1px solid #EEF2F6;
}

.bedroom-idea__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;


}

.bedroom-idea__item {
  .gallery__favorite {
    display: none;
  }
}

.bedroom-idea__item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;

  .gallery__image-link {
    // width: 520px;
  }

}

.bedroom-idea__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;

  .gallery__image-link {
    width: 740px;
  }
}

.bedroom-idea__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;

  .gallery__image-link {
    width: 740px;
  }
}

.bedroom-idea__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
  padding: 50px 0px 0px 0px;
  border-top: 1px solid #EEF2F6;
}

.bedroom-idea__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  span {
    margin: 0px 0px 0px 15px;
  }
}

.advice {
  margin: 0px 0px 100px 0px;

  &__slider {
    display: flex;
    margin: 0 -15px 0 -15px;
  }

  &__slide {}

  &__top {
    justify-content: space-between;
    display: flex;
    margin: 0px 0px 30px 0px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

.advice-card {
  position: relative;
  margin: 0px 15px 0px 15px;

  &__link {}

  &__image {
    width: 410px;
    height: 410px;
    margin: 0px 0px 15px 0px;
  }

  &__img {}

  &__info {
    padding: 30px 50px 30px 30px;
    border-radius: 8px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase
  }

  &__arrow {
    margin: 20px 0px 0px 0px;
  }
}

.card-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 27px;
  width: 157px;
  height: 35px;
  border-radius: 0px 0px 8px 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 147.4%;
  text-transform: uppercase;
  font-feature-settings: 'pnum'on, 'lnum'on;
}

@media (min-width: 1441px) {}

@media (min-width: 1025px) and (max-width: 1350px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 577px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 440px) {
  .advice-card__image {
    width: 100%;
  }

}
