/* -- Fonts --*/
$font-family: "Raleway", sans-serif;
$font-family--alt: "Playfair Display", serif;

$accent: #fdfdfd;
/* -- Text --*/
$hover-color: #da2128;
$text-color: #000000;
$subtext-color: #fff;
